### Note: This code may not be usable if Yahoo Finance API Change
### Use at your own risks

In [3]:
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

In [4]:
df = pdr.get_data_yahoo('AAPL', start='2023-01-01', end='2024-08-30').reset_index()
df['Ticker'] = 'AAPL'
df = df[['Ticker','Date','Close']]
df

[*********************100%%**********************]  1 of 1 completed

C:\Dev\Miniconda3\Lib\site-packages\yfinance\utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

    Ticker       Date       Close
0     AAPL 2023-01-03  125.070000
1     AAPL 2023-01-04  126.360001
2     AAPL 2023-01-05  125.019997
3     AAPL 2023-01-06  129.619995
4     AAPL 2023-01-09  130.149994
..     ...        ...         ...
411   AAPL 2024-08-22  224.529999
412   AAPL 2024-08-23  226.839996
413   AAPL 2024-08-26  227.179993
414   AAPL 2024-08-27  228.029999
415   AAPL 2024-08-28  226.910004

[416 rows x 3 columns]