### Note: This code may not be usable if Yahoo Finance API Change
### Use at your own risks

In [3]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf
yf.pdr_override()

In [4]:
tickers = ['AAPL', 'GOOG', 'NVDA']

df = pd.DataFrame()

for ticker in tickers:
    df_temp = pdr.get_data_yahoo(ticker, start='2023-01-01', end='2024-08-30').reset_index()
    df_temp['Ticker'] = ticker
    df_temp = df_temp[['Ticker', 'Date', 'Close']]
    df = df._append(df_temp)
    
df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

C:\Dev\Miniconda3\Lib\site-packages\yfinance\utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
C:\Dev\Miniconda3\Lib\site-packages\yfinance\utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

[*********************100%%**********************]  1 of 1 completed

C:\Dev\Miniconda3\Lib\site-packages\yfinance\utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

    Ticker       Date       Close
0     AAPL 2023-01-03  125.070000
1     AAPL 2023-01-04  126.360001
2     AAPL 2023-01-05  125.019997
3     AAPL 2023-01-06  129.619995
4     AAPL 2023-01-09  130.149994
..     ...        ...         ...
411   NVDA 2024-08-22  123.739998
412   NVDA 2024-08-23  129.369995
413   NVDA 2024-08-26  126.459999
414   NVDA 2024-08-27  128.300003
415   NVDA 2024-08-28  125.389999

[1248 rows x 3 columns]