### Note: This code may not be usable if DDC API Change
### Use at your own risks

In [20]:
import requests
import pandas as pd
from datetime import datetime, timedelta

url = 'https://covid19.ddc.moph.go.th/api/Cases/timeline-cases-all'
response = requests.get(url)
data = response.json()
raw_df = pd.DataFrame(data)
raw_df

,year,weeknum,new_case,total_case,new_case_excludeabroad,total_case_excludeabroad,new_recovered,total_recovered,new_death,total_death,case_foreign,case_prison,case_walkin,case_new_prev,case_new_diff,death_new_prev,death_new_diff,update_date
0,2021,52,3011,2226446,2869,2218200,3315,2171809,10,21708,142,57,2716,3111,-100,26,-16,2024-08-25 21:57:09
1,2022,1,34593,2261039,33067,2251267,19453,2191262,105,21813,1526,319,31802,29341,5252,101,4,2024-08-25 21:57:09
2,2022,2,55369,2316408,53168,2304435,25862,2217124,103,21916,2201,371,52134,55839,-470,99,4,2024-08-25 21:57:09
3,2022,3,53406,2369814,51992,2356427,47440,2264564,103,22019,1414,271,51306,53087,319,102,1,2024-08-25 21:57:09
4,2022,4,54276,2424090,52935,2409362,53442,2318006,126,22145,1341,408,52264,53770,506,126,0,2024-08-25 21:57:09
5,2022,5,62032,2486122,60611,2469973,57382,2375388,126,22271,1421,312,60021,60160,1872,124,2,2024-08-25 21:57:09
6,2022,6,91323,2577445,90060,2560033,61152,2436540,141,22412,1263,411,88971,85483,5840,137,4,2024-08-25 21:57:09
7,2022,7,115917,2693362,114556,2674589,76729,2513269,182,22594,1361,816,112840,113362,2555,178,4,2024-08-25 21:57:09
8,2022,8,151535,2844897,150334,2824923,107735,2621004,255,22849,1201,812,148519,144805,6730,244,11,2024-08-25 21:57:09
9,2022,9,159917,3004814,158908,2983831,128487,2749491,327,23176,1009,812,156366,162714,-2797,315,12,2024-08-25 21:57:09
10,2022,10,156427,3161241,155854,3139685,161956,2911447,467,23643,573,707,153494,154653,1774,451,16,2024-08-25 21:57:09
11,2022,11,167732,3328973,167424,3307109,155845,3067292,519,24162,308,592,165263,166520,1212,500,19,2024-08-25 21:57:09
12,2022,12,174291,3503264,173998,3481107,160992,3228284,553,24715,293,537,172375,173861,430,573,-20,2024-08-25 21:57:09
13,2022,13,181491,3684755,181131,3662238,175358,3403642,603,25318,360,410,179161,179696,1795,574,29,2024-08-25 21:57:09
14,2022,14,173591,3858346,173066,3835304,177278,3580920,657,25975,525,305,171079,176322,-2731,655,2,2024-08-25 21:57:09
15,2022,15,153838,4012184,153262,3988566,183058,3763978,779,26754,576,369,151670,160244,-6406,752,27,2024-08-25 21:57:09
16,2022,16,135906,4148090,135315,4123881,168121,3932099,895,27649,591,367,134602,134746,1160,891,4,2024-08-25 21:57:09
17,2022,17,102859,4250949,102355,4226236,138757,4070856,877,28526,504,196,101825,110023,-7164,880,-3,2024-08-25 21:57:09
18,2022,18,65820,4316769,65618,4291854,123039,4193895,508,29034,202,157,65262,70258,-4438,576,-68,2024-08-25 21:57:09
19,2022,19,50983,4367752,50961,4342815,71103,4264998,387,29421,22,167,50626,52697,-1714,391,-4,2024-08-25 21:57:09
20,2022,20,39003,4406755,38990,4381805,53567,4318565,294,29715,13,84,38810,40362,-1359,311,-17,2024-08-25 21:57:09
21,2022,21,32244,4438999,32232,4414037,43752,4362317,233,29948,12,45,32112,33133,-889,232,1,2024-08-25 21:57:09
22,2022,22,24558,4463557,24550,4438587,37041,4399358,195,30143,8,50,24474,26045,-1487,203,-8,2024-08-25 21:57:09
23,2022,23,18832,4482389,18827,4457414,28605,4427963,171,30314,5,13,18813,19332,-500,173,-2,2024-08-25 21:57:09
24,2022,24,14763,4497152,14741,4472155,17429,4445392,131,30445,22,35,14706,14992,-229,136,-5,2024-08-25 21:57:09
25,2022,25,14625,4511777,14603,4486758,13024,4458416,130,30575,22,9,14594,14661,-36,137,-7,2024-08-25 21:57:09
26,2022,26,16000,4527777,15984,4502742,13957,4472373,106,30681,16,0,15984,15728,272,105,1,2024-08-25 21:57:09
27,2022,27,15262,4543039,15246,4517988,15119,4487492,132,30813,16,29,15217,15686,-424,134,-2,2024-08-25 21:57:09
28,2022,28,13962,4557001,13958,4531946,14664,4502156,165,30978,4,21,13937,14021,-59,160,5,2024-08-25 21:57:09
29,2022,29,16462,4573463,16458,4548404,15480,4517636,149,31127,4,22,16436,15909,553,140,9,2024-08-25 21:57:09
30,2022,30,15049,4588512,15047,4563451,15194,4532830,232,31359,2,49,14998,15665,-616,229,3,2024-08-25 21:57:09
31,2022,31,14847,4603359,14844,4578295,17718,4550548,202,31561,3,36,14808,14428,419,199,3,2024-08-25 21:57:09
32,2022,32,15293,4618652,15290,4593585,14515,4565063,237,31798,3,54,15236,15534,-241,237,0,2024-08-25 21:57:09
33,2022,33,13560,4632212,13558,4607143,15214,4580277,202,32000,2,58,13500,13798,-238,208,-6,2024-08-25 21:57:09
34,2022,34,12431,4644643,12429,4619572,14054,4594331,195,32195,2,62,12367,12702,-271,195,0,2024-08-25 21:57:09
35,2022,35,12268,4656911,12265,4631837,13482,4607813,180,32375,3,10,12255,11957,311,186,-6,2024-08-25 21:57:09
36,2022,36,9542,4666453,9542,4641379,12327,4620140,145,32520,0,0,9542,10378,-836,151,-6,2024-08-25 21:57:09
37,2022,37,6457,4672910,6456,4647835,10225,4630365,97,32617,1,4,6452,6799,-342,100,-3,2024-08-25 21:57:09
38,2022,38,4787,4677697,4787,4652622,6543,4636908,89,32706,0,1,4786,4944,-157,89,0,2024-08-25 21:57:09
39,2022,39,4435,4682132,4435,4657057,5986,4642894,65,32771,0,0,4435,4219,216,72,-7,2024-08-25 21:57:09
40,2022,40,2915,4685047,2915,4659972,4381,4647275,58,32829,0,0,2915,3328,-413,57,1,2024-08-25 21:57:09
41,2022,41,2234,4687281,2234,4662206,0,4647275,53,32882,0,1,2233,2474,-240,61,-8,2024-08-25 21:57:09
42,2022,42,2616,4689897,2616,4664822,0,4647275,40,32922,0,0,2616,2292,324,40,0,2024-08-25 21:57:09
43,2022,43,2551,4692448,2551,4667373,0,4647275,33,32955,0,0,2548,2574,-23,28,5,2024-08-25 21:57:09
44,2022,44,2759,4695207,2759,4670132,0,4647275,40,32995,0,0,2759,2791,-32,36,4,2024-08-25 21:57:09
45,2022,45,3166,4698373,3166,4673298,0,4647275,42,33037,0,1,3165,3011,155,42,0,2024-08-25 21:57:09
46,2022,46,3957,4702330,3957,4677255,0,4647275,69,33106,0,0,3957,3825,132,66,3,2024-08-25 21:57:09
47,2022,47,4914,4707244,4914,4682169,0,4647275,74,33180,0,0,4914,4857,57,71,3,2024-08-25 21:57:09
48,2022,48,4284,4711528,4284,4686453,0,4647275,105,33285,0,0,4284,4540,-256,110,-5,2024-08-25 21:57:09
49,2022,49,3961,4715489,3961,4690414,0,4647275,107,33392,0,0,3961,3824,137,97,10,2024-08-25 21:57:09
50,2022,50,3419,4718908,3419,4693833,0,4647275,113,33505,0,1,3418,3625,-206,115,-2,2024-08-25 21:57:09
51,2022,51,2900,4721808,2900,4696733,0,4647275,89,33594,0,0,2900,2956,-56,100,-11,2024-08-25 21:57:09
52,2022,52,2111,4723919,2111,4698844,0,4647275,75,33669,0,0,2111,2212,-101,63,12,2024-08-25 21:57:09

In [21]:
df = raw_df[['year','weeknum','new_case','total_case']].copy(deep=True)
df

    year  weeknum  new_case  total_case
0   2021       52      3011     2226446
1   2022        1     34593     2261039
2   2022        2     55369     2316408
3   2022        3     53406     2369814
4   2022        4     54276     2424090
5   2022        5     62032     2486122
6   2022        6     91323     2577445
7   2022        7    115917     2693362
8   2022        8    151535     2844897
9   2022        9    159917     3004814
10  2022       10    156427     3161241
11  2022       11    167732     3328973
12  2022       12    174291     3503264
13  2022       13    181491     3684755
14  2022       14    173591     3858346
15  2022       15    153838     4012184
16  2022       16    135906     4148090
17  2022       17    102859     4250949
18  2022       18     65820     4316769
19  2022       19     50983     4367752
20  2022       20     39003     4406755
21  2022       21     32244     4438999
22  2022       22     24558     4463557
23  2022       23     18832     4482389
24  2022       24     14763     4497152
25  2022       25     14625     4511777
26  2022       26     16000     4527777
27  2022       27     15262     4543039
28  2022       28     13962     4557001
29  2022       29     16462     4573463
30  2022       30     15049     4588512
31  2022       31     14847     4603359
32  2022       32     15293     4618652
33  2022       33     13560     4632212
34  2022       34     12431     4644643
35  2022       35     12268     4656911
36  2022       36      9542     4666453
37  2022       37      6457     4672910
38  2022       38      4787     4677697
39  2022       39      4435     4682132
40  2022       40      2915     4685047
41  2022       41      2234     4687281
42  2022       42      2616     4689897
43  2022       43      2551     4692448
44  2022       44      2759     4695207
45  2022       45      3166     4698373
46  2022       46      3957     4702330
47  2022       47      4914     4707244
48  2022       48      4284     4711528
49  2022       49      3961     4715489
50  2022       50      3419     4718908
51  2022       51      2900     4721808
52  2022       52      2111     4723919

In [22]:
df['date'] = pd.to_datetime(df['year'].astype(str) + '-W' + df['weeknum'].astype(str) + '-1', format='%Y-W%W-%w') - timedelta(days=1)
# df = df[['date','new_case','total_case']]
df

    year  weeknum  new_case  total_case       date
0   2021       52      3011     2226446 2021-12-26
1   2022        1     34593     2261039 2022-01-02
2   2022        2     55369     2316408 2022-01-09
3   2022        3     53406     2369814 2022-01-16
4   2022        4     54276     2424090 2022-01-23
5   2022        5     62032     2486122 2022-01-30
6   2022        6     91323     2577445 2022-02-06
7   2022        7    115917     2693362 2022-02-13
8   2022        8    151535     2844897 2022-02-20
9   2022        9    159917     3004814 2022-02-27
10  2022       10    156427     3161241 2022-03-06
11  2022       11    167732     3328973 2022-03-13
12  2022       12    174291     3503264 2022-03-20
13  2022       13    181491     3684755 2022-03-27
14  2022       14    173591     3858346 2022-04-03
15  2022       15    153838     4012184 2022-04-10
16  2022       16    135906     4148090 2022-04-17
17  2022       17    102859     4250949 2022-04-24
18  2022       18     65820     4316769 2022-05-01
19  2022       19     50983     4367752 2022-05-08
20  2022       20     39003     4406755 2022-05-15
21  2022       21     32244     4438999 2022-05-22
22  2022       22     24558     4463557 2022-05-29
23  2022       23     18832     4482389 2022-06-05
24  2022       24     14763     4497152 2022-06-12
25  2022       25     14625     4511777 2022-06-19
26  2022       26     16000     4527777 2022-06-26
27  2022       27     15262     4543039 2022-07-03
28  2022       28     13962     4557001 2022-07-10
29  2022       29     16462     4573463 2022-07-17
30  2022       30     15049     4588512 2022-07-24
31  2022       31     14847     4603359 2022-07-31
32  2022       32     15293     4618652 2022-08-07
33  2022       33     13560     4632212 2022-08-14
34  2022       34     12431     4644643 2022-08-21
35  2022       35     12268     4656911 2022-08-28
36  2022       36      9542     4666453 2022-09-04
37  2022       37      6457     4672910 2022-09-11
38  2022       38      4787     4677697 2022-09-18
39  2022       39      4435     4682132 2022-09-25
40  2022       40      2915     4685047 2022-10-02
41  2022       41      2234     4687281 2022-10-09
42  2022       42      2616     4689897 2022-10-16
43  2022       43      2551     4692448 2022-10-23
44  2022       44      2759     4695207 2022-10-30
45  2022       45      3166     4698373 2022-11-06
46  2022       46      3957     4702330 2022-11-13
47  2022       47      4914     4707244 2022-11-20
48  2022       48      4284     4711528 2022-11-27
49  2022       49      3961     4715489 2022-12-04
50  2022       50      3419     4718908 2022-12-11
51  2022       51      2900     4721808 2022-12-18
52  2022       52      2111     4723919 2022-12-25