## 1) pandas from numpy

In [9]:
import numpy as np
import pandas as pd

a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]

c = np.array([a,b])
c = c.transpose()

d = pd.DataFrame(c, columns=['a','b'])
print(d)

   a  b
0  1  5
1  2  4
2  3  3
3  4  2
4  5  1

## 2) pandas from List of Data

In [10]:
import pandas as pd

a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]
m = [3, 2, 1, 2, 3]

c = list(zip(a,b,m))

d = pd.DataFrame(c, columns=['a','b','m'])
print(d)

   a  b  m
0  1  5  3
1  2  4  2
2  3  3  1
3  4  2  2
4  5  1  3

## 3) pandas and data columns

In [11]:
import pandas as pd

a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]
m = [3, 2, 1, 2, 3]
c = list(zip(a,b,m))

df = pd.DataFrame(c, columns=['unitprice','quantity','totalcost'])
print(df)

   unitprice  quantity  totalcost
0          1         5          3
1          2         4          2
2          3         3          1
3          4         2          2
4          5         1          3

## 4) pandas operation

In [12]:
import pandas as pd

a = [1, 2, 3, 4, 5]
b = [5, 4, 3, 2, 1]
m = [3, 2, 1, 2, 3]
c = list(zip(a,b,m))

df = pd.DataFrame(c, columns=['unitprice','quantity','totalcost'])
print(df)
df['revenue'] = df['unitprice'] * df['quantity']
print(df)
df['profit'] = df['revenue'] - df['totalcost']
print(df)

   unitprice  quantity  totalcost
0          1         5          3
1          2         4          2
2          3         3          1
3          4         2          2
4          5         1          3
   unitprice  quantity  totalcost  revenue
0          1         5          3        5
1          2         4          2        8
2          3         3          1        9
3          4         2          2        8
4          5         1          3        5
   unitprice  quantity  totalcost  revenue  profit
0          1         5          3        5       2
1          2         4          2        8       6
2          3         3          1        9       8
3          4         2          2        8       6
4          5         1          3        5       2